.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 16px;
    line-height: 2.15;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 10px;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

.background-custom {

    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 196px;

}

@media (min-width: 1025px) {
    .h-custom {
        height: 900px;
    }
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

