
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" type="text/css" href="style.css">  
  </head>
  <body>
    <div class="container">
    <nav>
      <img src="img/logo.png" class="logo">
      <div class="nav-icons">
      <img src="img/search.png">
      <img src="img/cart.png">
      <img src="img/menu.png">
    </div>
    </nav>
    <div class="row">
      <div class="col-1">
        <h1>Smart Tivi</h1>
        <h2>Tivi Xiaomi 4K UHD 55 Inch </h2><br>
        <p>+ Công nghệ màn hình 4K Ultra UHD siêu nét</p>
        <p>+ Thiết kế đột phá không viền 3 cạnh</p>
        <p>+ Công nghệ Dolby Vision cùng HDR10+ hiển thị 1.07 tỷ màu</p>
        <p>+ Hệ sinh thái giao diện Android đa dạng</p>
        <p>+ Hoàn hảo cùng trợ lý ảo Google</p>
        <p>+ Hình ảnh chuyển động mượt mà cùng MEMC</p>
        <h2>$599</h2>
        <button>ADD TO CART</button>
      </div>

      <div class="col-2">
        <div class="featture-img">
          <img src="img/tivi.jpg">
          <div class="small-img-row">
            <div class="small-img">
            <img src="img/tivi2.png">
            </div>
            <div class="small-img">
            <img src="img/tivi3.png">
            </div>
            <div class="small-img">
            <img src="img/tivi4.png">
            </div>
            <div class="small-img">
            <img src="img/tivi5.png">
            </div>
            <div class="small-img">
              <img src="img/tivi6.png">
            </div>
          </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
